// External
@use 'node_modules/tailwindcss/tailwind.css' as *;
@use 'node_modules/notyf/notyf.min.css' as *;
// Internal
@use './commons';
@use './modules';
@use './libs' as *;
@use './util' as u;
@use './variable' as v;

@forward './404.scss';
@forward './error.scss';
// @forward './font.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	// font-size: 62.5%;
	line-height: 1.5;
	font-weight: 400;
}

body {
	font-family: v.$font-primary;
	background-color: v.$color-light-blue;
	font-size: v.$font-size-text;
	background-image: url('/icons/login.svg');
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;

	::-webkit-scrollbar {
		width: 0.6rem;
		border-radius: 4.9rem;
		display: block;
	}

	::-webkit-scrollbar-track {
		border-radius: 4.9rem;
		background: #e6f0fc;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 4.9rem;
		background: v.$color-primary;
		border-right: none;
		border-left: none;
	}
}

input,
button,
select {
	&:focus {
		outline: none;
	}
}

a:hover {
	color: v.$color-primary;
}

@include u.mq('widescreen') {
	.container {
		max-width: 133.3rem !important;
	}
}
