/*
    1. COLOR
    2. FONT-STYLE
    3. LAYOUT
    4. RESPONSIVE
*/

// 1. COLOR
$color-primary: #06c;
$color-light-primary: #84dbf6;
$color-primary-hover: #15437c;
$color-secondary: #ffcf3d;
$color-surface: #c6dfff;
$color-error: #ef4444;
$color-error-hover: #df3c3c;
$color-white: #fff;
$color-light-blue: #e6f0fc;

$color-light-gray: #cbd5e1;
$color-dark-gray: #a7a7a7;
$color-semi-gray: #dadada;
$color-netural-dark-gray: #6f6f6f;

$scolor-black-gray: #ffffff1a;

$color-semi-yellow: rgb(255 242 201);

$scolor-gray-light: #fffc;
$scolor-gray-light-1: #ffffff80;
$scolor-blue-primary: #06c;
$scolor-disabled: #b5b5b5;
$scolor-semi-gray: #dadada;

//2. FONT STYLE
$font-primary: 'M PLUS Rounded 1c', sans-serif;
$font-size-text: 62.5%;

//3. LAYOUT

//4. RESPONSIVE
$tablet: 'screen and (min-width: 768px)';
$desk: 'screen and (min-width: 1024px)';
$widescreen: 'screen and (min-width: 1240px)';
$fullhd: 'screen and (min-width: 1920px)';
