@use '@/styles/variable' as v;

.exception {
	display: flex;
	gap: 3rem;

	&-icon {
		svg {
			width: 5rem;
			height: 5rem;
		}
	}

	&-text {
		color: v.$color-primary;
		font-size: 1.5rem;
		font-weight: 500;
	}
}
